.btnaccueil{
    background-color: deeppink;
    justify-content: center
}
.btn3d{
    background-color: fuchsia;
    justify-content: center;   
}
.btncréa{ 
    background-color: hotpink;  
}
.btnjv {
    background-color: palevioletred;
}
.btncoding {
    background-color: lightpink;    
}