*{
    background-color: rgb(102, 218, 160);
}
div{
    margin: 10em auto;
    width: 20em;
    background-color: darkslateblue;
}
h1{
    text-align: center;
    color: antiquewhite;
    text-decoration: underline;
}
h2{
    color: cadetblue;
    text-decoration: underline;
    font-size: 2em;
}

.boite{
    transform: rotate(45deg) scale(1);
}
.boite2{
    transform: translate(5em,5em);
}
.boite3{
    transform:skewx(30deg);
}
.boite4{
    transition: all 1s;
    transform: translate(50em,5em);
}
.boite4:hover{
    transform: rotate(45deg);
}
.boite5{
    transition: background 15s,transform 10s;
}
.boite5:hover{
    transform: rotate(45deg);
    background-color: darkmagenta;
}
.boite6{
    transition: all 1s ease-out 1s;
}
.boite6:hover{
    transform: rotate(45deg);
    background-color: hotpink;
}
.boite7{
    animation: slideleft 30s;
}
@keyframes slideleft{/**/
from{
    transform: translate(50%);
    background: blue;
}
to{
    transform: translate(0);
}
}
.boite8{
    animation: slideright 30s;
}
@keyframes slideright{
    from{
        transform: translate(50%);
        background: blue;
    }
    30%{
        transform: translate(-50%);
        background: red;
        color: aliceblue;
    }
    80% {
        transform: translate(200%);
        background: green;
        color: red;
    }
    to{
        transform: translate(0);
    }
}
.boite9{
    animation: slideNight 30s infinite;
}
@keyframes slideNight{
    from{
        transform: translate(50%);
        background: blue;
    }
    30% {
        transform: translate(-50%);
    }
    80% {
        transform: translate(200%);
        background: green;
        color: red;
    }
    to{
        transform: translate(0);
    }
}